@KoraApp
interface Application : GrpcClientModule, HoconConfigModule {
    companion object {
        @JvmStatic
        fun main(args: Array<String>) {
            KoraApplication.run(ApplicationGraph::graph)
        }
    }
}
