package ${package};

import static org.junit.jupiter.api.Assertions.*;
import static org.mockito.ArgumentMatchers.*;
import static org.mockito.Mockito.*;

import org.jetbrains.annotations.NotNull;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.mockito.Mock;
import ru.tinkoff.kora.test.extension.junit5.KoraAppTest;
import ru.tinkoff.kora.test.extension.junit5.KoraAppTestConfigModifier;
import ru.tinkoff.kora.test.extension.junit5.KoraConfigModification;
import ru.tinkoff.kora.test.extension.junit5.TestComponent;

@KoraAppTest(Application.class)
class ${componentName}Test implements KoraAppTestConfigModifier {

    @Mock
    @TestComponent
    private ${dependencyName} ${dependencyVarName};

    @TestComponent
    private ${componentName} ${componentVarName};

    @NotNull
    @Override
    public KoraConfigModification config() {
        return KoraConfigModification.ofString("""
            # Test configuration
            """);
    }

    @BeforeEach
    void setup() {
        // Setup mocks
        when(${dependencyVarName}.someMethod(any())).thenReturn(someValue);
    }

    @Test
    void shouldDoSomething() {
        // given
        // when
        var result = ${componentVarName}.doSomething();

        // then
        assertNotNull(result);
        verify(${dependencyVarName}).someMethod(any());
    }
}
