package ${package}

import ru.tinkoff.kora.json.common.annotation.Json

/**
 * DTO for ${entity_name}.
 *
 * <p>Used for JSON serialization/deserialization via the Kora JSON module.</p>
 *
 * @param ${fields_description}
 */
@Json
data class ${dto_name}(${fields})
